:root {
	--phi: 1.618em;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: silver;
}

#banner {
	font-weight: 400;
	text-align: center;
	background-color: rgba(220, 220, 220, 0.7);
	transition: linear 0.2s;
	transition-property: font-size;
	font-size: calc(var(--phi) * 4);
	width: 100%;
	left: 0px;
	position: absolute;
	top: 35%;
}

#sub-banner {
	font-size: 0.5em;
	font-weight: 100;
}

.sticky {
	position: fixed !important;
	font-size: var(--phi) !important;
	top: 0px !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	font-weight: 100;
	font-size: calc(var(--phi) * 2);
}

p {
	font-weight: 300;
	font-size: var(--phi);
}
