body {
    font-family: 'Roboto', sans-serif;
    background-color: silver;
}

#banner {
    font-weight: 400;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.7);
}

.subheader {
    font-weight: 100;
}

p {
    font-weight: 300;
}
